# 规则集（Ruleset）
[RULESET.direct]
name = "Direct"
rules = [
    "DOMAIN-SUFFIX,cn,DIRECT",
    "GEOIP,cn, DIRECT",
    "IP-CIDR, 192.168.0.0/16, DIRECT",
	"IP-CIDR, 10.0.0.0/8, DIRECT",
	"IP-CIDR, 172.16.0.0/12, DIRECT",
	"IP-CIDR, 127.0.0.0/8, DIRECT",
	"IP-CIDR, 17.0.0.0/8, DIRECT",
	"IP-CIDR, 239.255.255.250/32, DIRECT"	
]

[RULESET.proxy]
name = "Rules"
rules = [
  "DOMAIN-SUFFIX, xvideos.com, PROXY",
  "DOMAIN-SUFFIX, wikipedia.org, PROXY",
  "DOMAIN-SUFFIX, domains.google, PROXY",
  "DOMAIN-SUFFIX, yimg.com, PROXY",
  "DOMAIN-SUFFIX, cdninstagram.com, PROXY",
  "DOMAIN-SUFFIX, facebook.net, PROXY",
  "DOMAIN-SUFFIX, ampproject.net, PROXY",
  "DOMAIN-SUFFIX, ampproject.org, PROXY",
  "DOMAIN-SUFFIX, jporn.link, PROXY",
  "DOMAIN-SUFFIX, dmm.co.jp, PROXY",
  "DOMAIN-SUFFIX, javlibrary.com, PROXY",
  "DOMAIN-SUFFIX, telegram.org, PROXY",
  "DOMAIN-SUFFIX, amazonaws.com, PROXY",
  "DOMAIN-SUFFIX, t.me, PROXY",
  "DOMAIN, gist.github.com, PROXY",
  "DOMAIN-SUFFIX, medium.com, PROXY",
  "DOMAIN-SUFFIX, doubleclick.net, PROXY",
  "DOMAIN-SUFFIX, crashlytics.com, PROXY",
  "DOMAIN-SUFFIX, hkbbcc.net, PROXY",
  "DOMAIN-SUFFIX, jinniumovie.be, PROXY",
  "DOMAIN-SUFFIX, fc2.com, PROXY",
  "DOMAIN-SUFFIX, picacomic.com, PROXY",
  "DOMAIN-SUFFIX, btso.pw, PROXY",
  "DOMAIN-MATCH, google, PROXY",
  "DOMAIN-MATCH, facebook, PROXY",
  "DOMAIN-MATCH, youtube, PROXY",
  "DOMAIN-MATCH, twitter, PROXY",
  "DOMAIN-MATCH, instagram, PROXY",
  "DOMAIN-MATCH, gmail, PROXY",
  "DOMAIN-MATCH, blogspot, PROXY",
  "DOMAIN-SUFFIX, twimg.com, PROXY",
  "DOMAIN-SUFFIX, t.co, PROXY",
  "DOMAIN-SUFFIX, angularjs.org, PROXY",
  "DOMAIN-SUFFIX, appspot.com, PROXY",
  "DOMAIN-SUFFIX, bit.ly, PROXY",
  "DOMAIN-SUFFIX, blogger.com, PROXY",
  "DOMAIN-SUFFIX, chromium.org, PROXY",
  "DOMAIN-SUFFIX, cloudfront.net, PROXY",
  "DOMAIN-SUFFIX, dropbox.com, PROXY",
  "DOMAIN-SUFFIX, dropboxstatic.com, PROXY",
  "DOMAIN-SUFFIX, dropboxusercontent.com, PROXY",
  "DOMAIN-SUFFIX, fb.me, PROXY",
  "DOMAIN-SUFFIX, fbcdn.net, PROXY",
  "DOMAIN-SUFFIX, feedburner.com, PROXY",
  "DOMAIN-SUFFIX, flickr.com, PROXY",
  "DOMAIN-SUFFIX, ggpht.com, PROXY",
  "DOMAIN-SUFFIX, githubusercontent.com, PROXY",
  "DOMAIN-SUFFIX, golang.org, PROXY",
  "DOMAIN-SUFFIX, goo.gl, PROXY",
  "DOMAIN-SUFFIX, gstatic.com, PROXY",
  "DOMAIN-SUFFIX, thepiratebay.org, PROXY",
  "DOMAIN-SUFFIX, tumblr.com, PROXY",
  "DOMAIN-SUFFIX, wordpress.com, PROXY",
  "DOMAIN-SUFFIX, wp.com, PROXY",
  "DOMAIN-SUFFIX, vimeo.com, PROXY",
  "DOMAIN-SUFFIX, youtu.be, PROXY",
  "DOMAIN-SUFFIX, ytimg.com, PROXY",
  "DOMAIN-SUFFIX, porn.com, PROXY",
  "DOMAIN-SUFFIX, pornhub.com, PROXY",
  "DOMAIN-SUFFIX, t66y.com, PROXY",
  "IP-CIDR, 91.108.56.0/22, PROXY",
  "IP-CIDR, 91.108.4.0/22, PROXY",
  "IP-CIDR, 109.239.140.0/24, PROXY",
  "IP-CIDR, 149.154.160.0/20, PROXY"
]
